// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

// Font path is used to include ionicons,
// roboto, and noto sans fonts
$font-path: "../assets/fonts";


// The app direction is used to include
// rtl styles in your app. For more info, please see:
// http://ionicframework.com/docs/theming/rtl-support/
$app-direction: ltr;


@import "ionic.globals";


// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/theming/overriding-ionic-variables/




// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: (
  primary:    #488aff,
  secondary:  #32db64,
  danger:     #f53d3d,
  light:      #f4f4f4,
  dark:       #222
);


// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here




// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here




// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here




// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/ionicons/

@import "ionic.ionicons";


// Fonts
// --------------------------------------------------

@import "roboto";
@import "noto-sans";
.header-image {
  background-image: url(https://ununsplash.imgix.net/photo-1421091242698-34f6ad7fc088?fit=crop&fm=jpg&h=650&q=75&w=950);
  height: 40vh;
}

.main-content {
  background-color: map-get($colors, dark);
  box-shadow: 0px -1px 13px 1px rgba(0,0,0,0.3);
}

.scroll-content {
  padding-top: 0 !important;
}

.ion-input {
  color: #292b2c;
  background-color: #f0eeee;
  border-color: rgba(123, 130, 136, 0.15); 
  text-align: center;
  font-size: 18px;
  max-block-size: 40px;
  width: auto;
  }

ion-navbar {
  opacity: 0.4;
  box-shadow: 0px 1px 13px 1px rgba(0,0,0,0.77);
}

ion-segment {
  padding: 0px 12px;
  opacity: 0.7;
  position: relative;
  top: -50px;
}

ion-segment-button {
  border-color: map-get($colors, primary) !important;
  color: #fff !important;
}

ion-card {
  background-color: #fff;
  width: 100%;
  margin: 0;
  margin-bottom: 25px;
  position: relative;
  top: -30px;
}

ion-card:last-of-type {
  margin-bottom: 0 !important;
}

ion-item {
  background-color: #fff;
}

$base-theme:Bootstrap;
$skin-name:check;
$accent: #1b4c80;
$secondary: #5fa0e0;
$info: #b8c1c3;
$success: #28a545;
$warning: #ffc107;
$error: #dc3545;
$body-bg: #ecd8d8;
$body-color: #292b2c;
$component-bg: #ffffff;
$component-color: #0c1014;
$card-cap-bg: #f7f7f9;
$card-cap-color: #292b2c;
$series-a: #0475d7;
$series-b: #5bc0de;
$series-c: #5cb85c;
$series-d: #f0ad4e;
$series-e: #e67d4a;
$series-f: #d9534f;


