
<ion-header>

    <ion-navbar>
        <button ion-button menuToggle>
          <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>Home</ion-title>
      </ion-navbar>

</ion-header>

<ion-content padding>
  <div class="row">
     <h3 class="panel-title">Your Voice!!</h3>
  </div>
             
 <form  [formGroup]="raiseComplaint" (ngSubmit)="complaintForm(raiseComplaint.value)"> 
        <div *ngIf="username!=null">
            <ion-item>
             <b>Login User </b>{{username}}  
              </ion-item>
        <ion-item>
          <button ion-button (click)="signOut()" round nav>Sign Out</button>
        </ion-item>
        </div>
       
      <div class="formGroup">
          <div class="panel-body">            
              <auto-complete  (componentCallback)="autoCompleteCallback1($event)"></auto-complete>
          </div> 
      </div>
      <div class="formGroup">
          <ion-item>
              <ion-label>Complaint Type</ion-label>
              <ion-select  formControlName="causeType"  (ionChange)="onSelectChangeRetrieveNGO($event)">
                <ion-option *ngFor="let cause of causeList" [value] = "cause" >{{cause.type}}</ion-option>
              </ion-select>
                          
          </ion-item>
          
        <ion-item>
              <ion-label>NGO List</ion-label>              
                <ion-select  formControlName="ngo" (ionChange)="onSelectNGO($event)">              
                  <ion-option *ngFor="let ngo of ngoList" [value] = "ngo" >{{ngo.name}}</ion-option>
               
              </ion-select>
           </ion-item>   
           <ion-item >
              <ion-label>Complaint Details</ion-label>
              <ion-textarea k-textbox formControlName="compDetails" ></ion-textarea>
           </ion-item>
          
         
           <button ion-button type="submit" round [disabled]="!raiseComplaint.valid">Send E-mail</button>
    </div> </form>
    
    </ion-content>
