<!--
  Generated template for the CreateEventPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
      
    <ion-title>Create Event</ion-title>
  </ion-navbar>

</ion-header>    

<ion-content padding>
<div *ngIf="username!=null">
    <ion-item>
<b>Login User </b> {{username}}  
      </ion-item>
<ion-item>
  <button ion-button (click)="signOut()" round nav>Sign Out</button>
</ion-item>
<ion-row col-12 col-sm>
<ion-item>
<br/>
<a (click)="createEvent()"  class = "padding" round>Create Event</a>
</ion-item>
<ion-item>
  <a  (click)="eventList()"  class = "padding" round nav>Events List</a                             >
  </ion-item>
</ion-row>

</div>
<div *ngIf="username==null">
<ion-item>
    You are not A registered User. <br/>
    Please register and go to createEvent.
  </ion-item>
  <ion-item>
      <button ion-button (click)="register()"  class = "padding"round nav>Register</button>
  </ion-item>
</div>
</ion-content>

